/*
	--style.hg.css
	--Author: Hendri Gunawan
	--Created: 01 Mei 2015 21:58 PM

*/

.logo {
	background: #ECF0F5 !important;
}
	.logo img {
		width: 150px !important;
	}
.img-logo {
		width: 300px !important;
	}
.dataTables_filter,.dataTables_paginate {
	text-align: right;
}
.table th {
	text-align: center;
}
.padding-2 {
	padding: 3px 7px !important;
}

@media screen and (max-width: 500px){
	.img-logo {
		width: 100% !important;	
	}
}

.table > thead > tr > th,
.table > tfoot > tr > th {
	vertical-align: middle !important;
}

.text-kiri h4,.text-kiri p{
	margin: 0 !important;
}